<% content_for(:title, "Login | Woo") %>

  <div class="row">
  <div class="col-lg-12">

  <div class="login-card">
    <h6><% if current_user %>
      Logged in as <%= current_user.email %>.
      <%= link_to "Log Out", session_path("current"), method: "delete" %>
    <% else %>
      <%= link_to "Sign Up", new_user_path %>
    <% end %></h6>


    <h1>"Woo"</h1>
      <%= form_tag sessions_path do %>
      <div class="field">
            <%= label_tag :email %><br />
            <%= text_field_tag :email, params[:email] %>
      </div>
      <div class="field">
            <%= label_tag :password %><br />
            <%= password_field_tag :password %>
      </div><br>
      <div class="actions"><%= submit_tag "Log In", :class => "btn btn-default btn-xs"  %>
      <% end %>
    </div>
  </div><!-- div for col -->
</div><!-- div for row -->